*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Orbitron',sans-serif;
}
body{
    background-color: rgb(187, 213, 223);
    
}
.degital{
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    width: 350px;
    height: 45px;
    text-align: center;
    margin: auto;
    margin-top: 200px;
    border-radius: 50px 0 50px 0 ;
    letter-spacing: 3px;
    font-style: oblique;
    font-family: 'Orbitron';
    padding: 3px;
}

.box{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 30%;
    height: 200px;
   margin: auto;
   margin-top: 50px;
   background-color: white;
   border-radius: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
}
  

.box div{
   box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
   border-radius: 10px;
    width: 80px;
    height: 70px;
    text-align: center;
    padding-top: 15px;
    background-color: #f0d8ff;

}
.dot{
    font-weight: bolder;
    font-size: xx-large;
    
}
.text{
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 700;
    font-style: oblique;
}
#hrs{
    font-size: 25px;
    font-style: oblique;
    font-family:'Orbitron',sans-serif;
    font-weight: 700;
}
#min{
    font-size: 25px;
    font-style: oblique;
    font-family:'Orbitron',sans-serif;
    font-weight: 700;
}
#sec{
    font-size: 25px;
    font-style: oblique;
    font-family:'Orbitron',sans-serif;
    font-weight: 700;
}
#Am{
    font-size: 25px;
    font-style: oblique;
    font-family:'Orbitron',sans-serif;
    font-weight: 700; 
}
  #am_pm{
    top: 0;
    right: -50px;
    font-size: 25px;
    font-weight: bolder;
    letter-spacing: 2px;
    margin-top: -90px;
    font-style: oblique;
    font-family: 'Orbitron';
    
  }


  @media all and (min-width:320px) and (max-width:480px){
    .degital{
        margin: auto;
        width: 270px;
        margin-top: 250px;
        font-size: 14px;
    }
    .box{
        width: 95%;
        height: 160PX;
    }
    .box div{
      width: 68px;
    height: 80px;
    }

    #am_pm{
        font-size: 15px;
    }
    .dot{
    font-size: x-large;
    
}
  }

  @media all and (min-width:481px) and (max-width:768px){
     .degital{
        margin: auto;
        width: 60%;
        margin-top: 250px;
        font-size: 18px;
    }
     .box{
        width: 85%;
        height: 160PX;
    }
     .box div{
      width: 120px;
    height: 80px;
    }
     #am_pm{
        font-size: 30px;
    }
    .dot{
    font-size: xx-large;
  }
  }


  @media all and (min-width:769px) and (max-width:1024px){
     .degital{
        margin: auto;
        width: 70%;
        margin-top: 250px;
        font-size: 20px;
        padding-bottom :1px;
  }

   .box{
        width: 80%;
        height: 170PX;
    }

    .box div{
      width: 150px;
    height: 85px;
    }

     #am_pm{
        font-size: 35px;
    }
    .dot{
    font-size: xx-large;
  }
  }
